<div class="container">
	<div class="lead well">
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img src="http://www.gravatar.com/avatar/424242" class="media-object">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">user@email.com asked:</h4>
				lsdakd aslkdjlasd sadlkasdlasd asdkasd asdkasdjk adsakdj lasdj alsd jasjd lasj dlasdj lsjad jals djxzclzjc cj xkjb b kjhsab kjhbk bj bkjbjfkhsk fadhjk jahg djk gkjakj ksghkdj ghskhkb jvdakjnvjnlsan kndsk jnkf nkjfsdhhkf sdhj n dsjnfkjn dksn kjdsh kjhk dfndnfkjdnk nk nk nkndf kjnkfdan kfndskjn skjdanjkn jknk.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">

			<button class="btn btn-success btn-sm" type="button" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>

			<%= render 'home/new_answer_form' %>

			<div class="media">
				<div class="media-left">
					<a href="#">
						<img src="http://www.gravatar.com/avatar/424242" class="media-object">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">user@email.com answered:</h4>
					lsdakd aslkdjlasd sadlkasdlasd asdkasd asdkasdjk adsakdj lasdj alsd jasjd lasj dlasdj lsjad jals djxzclzjc cj xkjb b kjhsab kjhbk bj bkjbjfkhsk fadhjk jahg djk gkjakj ksghkdj ghskhkb jvdakjnvjnlsan kndsk jnkf nkjfsdhhkf sdhj n dsjnfkjn dksn kjdsh kjhk dfndnfkjdnk nk nk nkndf kjnkfdan kfndskjn skjdanjkn jknk.
				</div>
			</div>

			<div class="media">
				<div class="media-left">
					<a href="#">
						<img src="http://www.gravatar.com/avatar/424242" class="media-object">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">user@email.com answered:</h4>
					lsdakd aslkdjlasd sadlkasdlasd asdkasd asdkasdjk adsakdj lasdj alsd jasjd lasj dlasdj lsjad jals djxzclzjc cj xkjb b kjhsab kjhbk bj bkjbjfkhsk fadhjk jahg djk gkjakj ksghkdj ghskhkb jvdakjnvjnlsan kndsk jnkf nkjfsdhhkf sdhj n dsjnfkjn dksn kjdsh kjhk dfndnfkjdnk nk nk nkndf kjnkfdan kfndskjn skjdanjkn jknk.
				</div>
			</div>

			<div class="media">
				<div class="media-left">
					<a href="#">
						<img src="http://www.gravatar.com/avatar/424242" class="media-object">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">user@email.com answered:</h4>
					lsdakd aslkdjlasd sadlkasdlasd asdkasd asdkasdjk adsakdj lasdj alsd jasjd lasj dlasdj lsjad jals djxzclzjc cj xkjb b kjhsab kjhbk bj bkjbjfkhsk fadhjk jahg djk gkjakj ksghkdj ghskhkb jvdakjnvjnlsan kndsk jnkf nkjfsdhhkf sdhj n dsjnfkjn dksn kjdsh kjhk dfndnfkjdnk nk nk nkndf kjnkfdan kfndskjn skjdanjkn jknk.
				</div>
			</div>
		</div>
	</div>
</div>